<!-- 图标动画特效 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome-animation@1.1.1/css/font-awesome-animation.min.css">

<!-- 鼠标点击特效 -->
<script type="text/javascript" src="/js/mouse-click.js"></script>

<!-- 雪花背景特效 -->
</script>
<script type="text/javascript" src="/js/snow.js"></script>

<!-- 数字雨背景特效 -->
<!-- <script type="text/javascript" src="/js/DigitalRain.js"></script> -->

<!-- 浏览器网页标题 -->
<!-- <script type="text/javascript" src="/js/funny-title.js"></script> -->

<script src="/js/ribbon.js"></script>
<script type="text/javascript">
	new Ribbons({
		// ribbon color HSL saturation amount
		colorSaturation: "80%",
		// ribbon color HSL brightness amount
		colorBrightness: "80%",
		// ribbon color opacity amount
		colorAlpha: 0.1,
		// how fast to cycle through colors in the HSL color space
		colorCycleSpeed: 3,
		// where to start from on the Y axis on each side (top|min, middle|center, bottom|max, random)
		verticalPosition: "random",
		// how fast to get to the other side of the screen
		horizontalSpeed: 1,
		// how many ribbons to keep on screen at any given time
		ribbonCount: 5,
		// add stroke along with ribbon fill colors
		strokeSize: 1,
		// move ribbons vertically by a factor on page scroll
		parallaxAmount: -0.5,
		// add animation effect to each ribbon section over time
		animateSections: true
	});
</script>
